@charset "ISO-8859-1";

table {
		padding: 5px;
	}
	
p {
	    background-color: #BEBEBE;
	    border: 2px;
	    color: white;
	    padding: 5px 10px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 16px;
	    margin: 2px 2px;
	    cursor: pointer;
	}
	
#required{
	font-family:courier new; 
	color:red; 
	font-size:15px;
}